.page-footer {
    color: rgb(77, 77, 77);
    font-size: 12px;

    .useful-links {
        text-align: center;

        a {
            text-decoration: none;
            color: rgb(77, 77, 77);
            &:nth-child(2) {
                margin: 0 10px;
            }
            &:hover {
                text-decoration: underline;
            }
        }
    }

    .copyright {
        text-align: center;
        line-height: 1.3;
        padding: 20px;
    }
} 