.privacy-settings {
    position: fixed;
    cursor: pointer;
    bottom: 0;
    right: 4%;
    background-color: #6B6C72;
    color: white;
    font-weight: 300;
    padding: 15px;
    border-radius: 5px;
    font-size: 14px;
}